<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AZContact.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6B5D2CA81F14D96200BAFFA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B5D2CC11F14D96700BAFFA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B5D2CCC1F14D96700BAFFA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
